<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>{{ this.title }}</h1>

    <app-counter
    [increment-label]="incrementLabel"
    [decrement-label]="decrementLabel"
    [placeholder-text]="placeholderText"
    [initial-value]="counterVal"
    (on-upward-vote)="incrementCounter($event)"
    (on-downward-vote)="decrementCounter($event)">
  </app-counter>

  <!-- show once a the initial counter value has been changed -->
  <p *ngIf="newCounterVal">Output of counter is: {{ newCounterVal }}</p>
  <p>from NGRX {{ (counter$ | async)?.counter  }}</p>

</div>

<router-outlet></router-outlet>
